:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
}
* {
   box-sizing: border-box;
}
.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: lightslategray;
}
.navbar-ul {
   display: flex;
   gap: 2rem;
}
.navbar-ul li {
   list-style: none;
}
.navbar-link {
   text-decoration: none;
}

.loginPage,
.signUpPage {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
}

.loginForm {
   width: 350px;
}

.loginForm > input,
.loginForm > button {
   width: 100%;
   height: 40px;
   border: 1px solid lightslategray;
   margin: 0.5rem;
}

.loginForm > button {
   background-color: rgb(71, 140, 184);
   color: white;
   font-size: 16px;
   border: none;
}
.loginForm > button:hover {
   cursor: pointer;
}

.card-body {
   border: 1px solid lightslategrey;
   width: max-content;
}
.blog-page-title {
   text-align: center;
}
.blogs-list {
   gap: 2rem;
   display: flex;
   justify-content: center;
}
